### GENERAL

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.supported

# common code editors
.atom/
.vscode/

# JetBrains IDEs
# see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# note: in the future, we might version it
.idea/

# common files
*.log

# local-only files (may be useful during development)
*.local.*
*.local


### PROJECT

# local project-related files (mainly huge PDFs, images and videos)
/bp-dp/
/formalities/
/jetson/
/realtime-papers/
/papers/
/ros/
/showcase/

# final report template
/final-report/tex/ctustyle3/
# final report build output
/final-report/tex/*.ref
/final-report/tex/*.pdf
